@import '../../../styles/variables.scss';

.footer {
    background: $black;
    min-height: 20VH;
    padding: 1em;

    .footer-nav {
        display: flex;
        justify-content: flex-end;
        .footer-nav-item {
            padding: 1em;
        }
    }
}
