@import "../../../styles/variables.scss";

.footer {
  background: $black;
  min-height: 20vh;
  padding: 1em;
  color: $white;

  .footer-logos {
    display: flex;
    flex-wrap: wrap;

    .logo {
      padding-right: 2em;
    }
    img {
      max-height: 150px;
      height: 100%;
    }
    .snsbx-logo {
      display: flex;
    }
    .home-of-snsbx {
      display: flex;
      align-items: center;

      h2 {
        white-space: nowrap;
      }
      .sensebox-logo {
        height: 100px;
        padding-left: 0.3em;
      }
    }
  }
  .footer-nav {
    display: flex;
    justify-content: flex-end;
    .footer-nav-item {
      padding: 1em;
    }
  }
}
