<div class="footer">

    <div class="footer-nav">
        <a routerLink="contact" class="footer-nav-item">
            {{'KONTAKT' | translate}}
        </a>
        <a routerLink="imprint" class="footer-nav-item">
            {{'IMPRESSUM' | translate}}
        </a>
        <a routerLink="privacy" class="footer-nav-item">
            {{'DATENSCHUTZ' | translate}}
        </a>
    </div>

    <div id="footer-logos">

    </div>
    <div>
        <p [innerHTML]="'COPYRIGHT' | translate"></p>
    </div>

</div>