@import "../../../styles/variables.scss";

.footer {
  background: $black;
  min-height: 20vh;
  padding: 1em;
  color: $white;

  .footer-logos {
    img {
      max-height: 150px;
      height: 100%;
    }
  }
  .footer-nav {
    display: flex;
    justify-content: flex-end;
    .footer-nav-item {
      padding: 1em;
    }
  }
}
