@import "../../../../../styles/variables.scss";

.site {
  background: $black;
}

.site-title-container {
  height: 40rem;
  overflow: hidden;
  display: flex;
  padding: 0;

  > img {
    width: 100%;
    object-fit: cover;
  }
}

.columns {
  padding-top: 6rem;
  padding-bottom: 6rem;

  > .column {
    padding: 4rem;
  }
}

.site-title {
  word-break: break-word;
}

.card-content {
  padding: 4rem;
  @media screen and (max-width: $breakpoint-mobile) {
    padding: 2rem;
  }

  > p,
  h1,
  h2,
  h3 {
    color: $primary;
  }

  > p {
    font-size: 20px;
    font-weight: bold;
  }
}

.sensebox-logo {
  max-width: 210px;
  margin-bottom: 5px;
}

.stripes-horizontal {
  background: repeating-linear-gradient(
    0deg,
    $red,
    $red 20px,
    #f18d73 20px,
    #f18d73 25px
  );
}

.spacing {
  > * {
    margin-bottom: 2rem;
  }
}

.underscore {
  display: inline-block;
  border-bottom: 5px solid $black;
}
