<div class="site sb-white-text">
  <div class="site-title-container">
    <img
      src="./../../../../../assets/img/philosophy/sensebox-hackathon-2016.jpg"
    />
  </div>
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-half">
        <h1 class="site-title pb-6">Unsere Philosophie</h1>
        <p>
          Wir befassen uns mit Themen rund um Open Source, Open Data, Open
          Science, Citizen Science und Geoinformatik. Dabei setzen wir auf
          soziales Engagement, Partizipation, Kreativität und Flexibilität.
        </p>
        <br />
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit.
        </p>
        <br />
        <h2>Wir entwickeln Konzepte, Produkte und Workshops.</h2>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p>
              re:edu ist ein Spin-off des Institutes für Geoinformatik der
              Universität Münster
            </p>
            <br />
            <div class="is-flex is-align-items-center is-flex-wrap-wrap">
              <h1>home of</h1>
              <img
                class="sensebox-logo"
                src="./../../../../../assets/img/logos/sensebox/sensebox_wort_und_logo.svg"
              />
            </div>
            <br />
            <a href="https://sensebox.de">
              <button class="re-button">
                <span>sensebox.de</span>
                <img src="/assets/img/logos/logo_black.svg" />
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stripes-horizontal">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-half">
          <div class="card">
            <div class="card-content spacing">
              <h3 class="underscore">TEAM</h3>
              <h2>Wer wir sind: Die Köpfe hinter re:edu auf einen Blick.</h2>

              <a [routerLink]="['/team']">
                <button class="re-button">
                  <span>mehr dazu</span>
                  <img src="/assets/img/logos/logo_black.svg" />
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-content spacing">
              <h3 class="underscore">PORTFOLIO</h3>
              <h2>Was wir machen: Alle unsere Projekte in der Übersicht.</h2>

              <a [routerLink]="['/portfolio']">
                <button class="re-button">
                  <span>mehr dazu</span>
                  <img src="/assets/img/logos/logo_black.svg" />
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
