@import '../../../../styles/variables.scss';

.site {
  min-height: 100VH;

  .top-space-holder {
      height: 300px;
  }
  .stripes-container {
    background: $white;
    .stripes {
      padding: 1rem;
      background: #EB5C3727 repeating-linear-gradient(-40deg, #EB5C3727,#EB5C3727 10px,#eb5c376e 0,#eb5c376e 12px);
    
      background-repeat: repeat;
  
      .re-offset-container {
        transform: translateY(-150px);
      }
  
    }
  }

  .split-column {
    // display: flex;
    position: relative;
    .field-title {
      font-family: BrixSlab-Bold;
      width: 120px;
      flex-grow: 0;
      display: inline-block;
      text-transform: uppercase;
  
    }
    .re-values {
      width: calc(100% - 120px);
      display: inline-flex;
      flex-wrap: wrap;
    }
    .field-value {
      background: $white;
      color: $primary;
      padding: 0.1em 0.3em;
      margin: 0.2em 0.2em;
      font-family: NunitoSans-Bold;
      cursor: pointer;
    }
  }

}

.image-desktop {
  @media screen and (min-width: $breakpoint-mobile){
    transform: translateX(20%);
  }
}


.project-description {

  .back-link {
    color: $black;
    position: relative;
    top: -1.5em;
  }
  .description-tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .re-button {
    color: $black;
  }
}