@import "../../../../styles/variables.scss";

.site {
  min-height: 100vh;

  .top-space-holder {
    height: 300px;
  }
  .stripes-container {
    background: $white;
    .stripes {
      padding: 1rem;
      background: #eb5c3727
        repeating-linear-gradient(
          -40deg,
          #eb5c3727,
          #eb5c3727 10px,
          #eb5c376e 0,
          #eb5c376e 12px
        );

      background-repeat: repeat;

      .re-offset-container {
        transform: translateY(-150px);
      }
    }
  }
  .link-section {
    @media screen and (min-width: $breakpoint-mobile) {
      padding: 3em;
    }

    padding: 0.5em;
  }
  .split-column {
    // display: flex;
    position: relative;
    .field-title {
      font-family: BrixSlab-Bold;
      width: 120px;
      flex-grow: 0;
      display: inline-block;
      text-transform: uppercase;
    }
    .re-values {
      width: calc(100% - 120px);
      display: inline-flex;
      flex-wrap: wrap;
    }
    .field-value {
      background: $white;
      color: $primary;
      padding: 0.1em 0.3em;
      margin: 0.2em 0.2em;
      font-family: NunitoSans-Bold;
      cursor: pointer;
    }
  }
}

.image-desktop {
  @media screen and (min-width: $breakpoint-mobile) {
    transform: translateX(20%);
  }
}

.project-description {
  .back-link {
    color: $black;
    position: relative;

    display: flex;
    align-items: flex-end;

    @media screen and (min-width: $breakpoint-mobile) {
      top: -1.5em;
      left: -1.5em;
    }

    img {
      width: 2rem;
      transform: rotate(180deg);
    }
  }
  .description-tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .re-button {
    color: $black;
  }
  .responsible-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;

    @media screen and (max-width: $breakpoint-mobile) {
      flex-direction: column;
      align-items: flex-start;
    }

    .responsible-email {
      font-size: 1rem;
      color: $primary !important;
      font-weight: bold;
      text-decoration: underline;
      transition: color 0.2s ease;

      &:hover {
        color: darken($primary, 10%);
      }
    }

    .responsible-text {
      margin-right: 20px;
      p {
        font-size: 1.2em;
        margin: 5px 0;
      }
    }

    .responsible-person {
      display: flex;
      align-items: center;
      img {
        border-radius: 0%;
        width: 100px;
        height: 120px;
        object-fit: cover;
        margin-right: 20px;
      }
      .person-details {
        p {
          margin: 5px 0;
          font-size: 1.2em;
        }
      }
    }
  }
}

.separator {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.padding-6-resp {
  @media screen and (min-width: $breakpoint-mobile) {
    padding: 3rem;
  }
  padding: 0.5rem;
}

.project-image {
  border: solid 5px white;
  object-fit: cover;
}
