@import "../../../../styles/variables.scss";

.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.hero-body {
  h1 {
    max-width: 600px;
  }
  img {
    max-width: 20rem;
  }
}

.scroller-arrow {
  z-index: 1;
  text-align: center;
  > img {
    max-width: 4rem;
    transform: rotate(90deg);

    &:hover {
      cursor: pointer;
    }
  }
}

#what-we-do {
  color: $primary;
  background: #eb5c3727
    repeating-linear-gradient(
      -40deg,
      #eb5c3727,
      #eb5c3727 10px,
      #eb5c376e 0,
      #eb5c376e 12px
    );

  .sb-flex-container-column {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .content-tile {
    background: $white;
  }

  .topic-block {
    height: 100px;
    background: $primary;
    padding: 0.4em 0.4em 0.4em 2.7em;
    margin: 0.5em 0;
    color: $white;
    font-family: BrixSlab-Bold;
    font-size: 20px;
    position: relative;

    &::before {
      content: url("/assets/img/logos/logo_white.svg");
      position: absolute;
      left: 2px;
      top: 0.4em;
      width: 50px;
      height: 50px;
    }
  }
}

#experience {
  .sb-item {
    flex-direction: column;
    padding: 3em;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      padding: 0;
      padding-top: 2em;
    }

    p {
      margin: 0.5em 0em;
    }
  }

  .sb-image-caption {
    position: relative;
    img {
      border: 5px solid white;
      border-bottom: 45px solid white;
    }
    .sb-caption {
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 10px;
      left: 0px;
      h3 {
        color: $primary;
      }
    }
  }
}
