<div class="hero is-fullheight is-primary has-background">
  <img alt="" class="hero-background is-transparent" src="assets/img/start/hero.jpg" />
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hero Image
      </h1>
      <h3 class="subtitle">
        without CSS background-image
      </h3>
    </div>
  </div>
</div>


<section id="what-we-do">
  <div class="container px-3 py-3">
    <div class="tile is-ancestor">
      <div class="content-tile tile is-vertical is-8 p-2 mx-2">
        <h1>{{'STARTPAGE_HEADLINE' | translate}}</h1>
        <p class="bold-text-2">
          {{'WHAT_WE_DO' | translate}}
        </p>
        <p class="bold-text-1">
          {{'WHAT_WE_DO_IMPORTANT' | translate}}
        </p>
        <p class="bold-text-2">
          {{'SPIN_OFF' | translate}}
        </p>
      </div>
      <div class="content-tile tile is-vertical is-4 p-2 mx-2">
        <h3 class="headline-underline"><span>Angebote</span></h3>
        <div class="topic-block">
          {{'HARDWARE_ENTWICKLUNG' | translate}}
        </div>
        <div class="topic-block">
          {{'SOFTWARE_ENTWICKLUNG' | translate}}
        </div>
        <div class="topic-block">
          {{'SCHULUNGEN' | translate}},<br>
          {{'WORKSHOPS' | translate}},<br>
          {{'HACKATHONS' | translate}}
        </div>
        <div class="topic-block">
          {{'FORSCHUNG' | translate}}
        </div>
        <div class="topic-block">
          {{'BERATUNG' | translate}}
        </div>
        <div class="has-text-centered">
          <button class="re-button">
            <span>mehr dazu</span>
            <img src="/assets/img/logos/logo_white.svg">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>