@import "../../../../styles/variables.scss";

.site {
    min-height: 95VH;
    padding-top: 200px;

    #left-logo {
        height: 200px;
        position: absolute;
        left: 0;
        top: 1em;
        img {
            height: 100%;
        }
    }

    .margin-left-container {
        padding: 3em;
        padding-left: 200px;
        @media screen and (min-width: $breakpoint-mobile) {
            margin-right: 50px;
        }
    }
    .contact-list {
        .icon-text {
            display: flex;
            align-items: center;
        
            > span {
                width: 16px;
            }
        
            > .title {
                &.sb-red-text {
                color: $primary;
                }
                margin-left: 1rem;
            }
        
            + h6 {
                margin-left: 2rem;
            }
        }
    }

    .img-column {
        img {
            border: 2px solid $white;
            transform: translateX(20%);
            @media screen and (max-width: $breakpoint-mobile) {
                transform: translateX(0%);
            }
        }
    }
}