<div class="site sb-white-text black-section">
  <div class="container">
    <h1 class="site-title">{{'UNSERE_PROJEKTE' | translate}}</h1>
  </div>
  <div class="stripes-container">
    <div class="stripes">
      <div class="container re-offset-container">
        <h3 (click)="toggleFilterModal()">
          FILTERN
          <i class="fa fa-filter"></i>
        </h3>
        <div class="project-container">
          <re-project-card *ngFor="let project of projects" [project]="project"></re-project-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" [class.is-active]="filterOpen">
  <div class="modal-background"></div>
  <div class="modal-content white-section p-5">
    <h3>{{'FILTER_PORTFOLIO' | translate}}</h3>
    <div>
      <div class="columns is-desktop">
        <div class="column">
          <div class="field">
            <label class="label">{{'CUSTOMER' | translate}}</label>
            <div class="control">
              <div class="select">
                <select name="customer" id="customer">
                  <option *ngFor="let customer of customers" value="customer">{{customer}}</option>
                </select>
              </div>
            </div>
          </div>    
        </div>
        <div class="column">
          <div class="field">
            <label class="label">{{'TOPICS' | translate}}</label>
            <div class="control">
              <div class="select">
                <select name="topics" id="topics">
                  <option *ngFor="let topic of topics" value="topic">{{topic}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">{{'ANGEBOT' | translate}}</label>
        <div class="control">
          <button class="re-button re-select-button" *ngFor="let angebot of angebote">
            {{angebot | translate}}
          </button>
        </div>
      </div>

      <div class="field">
        <label class="label">{{'YEAR' | translate}}</label>
        <div class="control">
          <button class="re-button re-select-button" *ngFor="let year of years">
            {{year}}
          </button>
        </div>
      </div>

      <div class="field">
        <label class="label">{{'TARGET' | translate}}</label>
        <div class="control">
          <button class="re-button re-select-button" *ngFor="let target of targets">
            {{target | translate}}
          </button>
        </div>
      </div>

      <div>
        <button class="is-pulled-right re-button">{{'FILTER_ANWENDEN' | translate}}</button>
      </div>

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="toggleFilterModal()"></button>
</div>