@import "../../../../../styles/variables.scss";

.site {
  background: $black;
  min-height: 100vh;
  overflow-x: hidden;
}


.site-title {
  color: white;
}

.floating-reedu-logo {
  @media screen and (max-width: 770px) {
    display: none;
  }
  position: absolute;
  max-width: 35rem;
  transform: rotate(90deg);
  bottom: -12rem;
  right: -20rem;
}

.stripes-container {
  background: white;

  .stripes-zig-zag {
    padding: 1rem;

    background: repeating-linear-gradient(
      -45deg,
      #eb5c3727,
      #eb5c3727 12px,
      #38383a67 12px,
      #38383a67 15px
    );

    background-repeat: repeat;
  }
}

.card {
  color: $black !important;
  @media screen and (max-width: $breakpoint-tablet) {
    margin: 2rem;
    padding: 2rem;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    margin: 1rem;
    padding: 1rem;
  }
  margin: 4rem;
  padding: 4rem;

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      max-width: 300px;
      margin: auto;
    }

    h1,
    h2,
    h3 {
      color: $red !important;
    }
  }
}
