<div class="site sb-white-text">
  <div class="container site-title-container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="site-title title">Auszeichnungen</h1>
        <h3>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet.
        </h3>
      </div>
    </div>
    <img class="floating-reedu-logo" src="assets/img/logos/logo_orange.svg" />
  </div>
  <div class="stripes-container">
    <div class="stripes-zig-zag">
      <div class="container">
        <div class="card" *ngFor="let award of awards">
          <div class="card-content">
            <div class="container">
              <div class="columns is-multiline">
                <div class="column is-one-third">
                  <img *ngIf="award.photo" src="{{ award.photo }}" alt="image" />
                </div>
                <div class="column">
                  <h1 class="title">{{ award.title }}</h1>
                  <h2 class="subtitle">{{ award.description }}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
