@import "./../../../../../styles/variables.scss";

.site {
  background: $red;
  min-height: 100vh;
  overflow-x: hidden;
}

.site-title-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .site-title {
    padding-top: 100px;
  }
}

.site-title {
  color: white;
}

.job{
  margin-top: 100px;
}
.job-icons {
  display: flex;
  flex-direction: column;
  text-align: center;
  // align-items: center;

}
.job-icons > div {
  margin-bottom: 2rem;

}

.job-info{
 background-color: white !important;
}
.header-info{
  margin-top: 100px;
  text-align: center;
  width:40%;
  margin-left: auto;
  margin-right: auto;

}

.container.content {
  background-color: white;
  p {
    font-family: NunitoSans-Regular;
  }

  padding: 6rem;
  @media screen and (max-width: $breakpoint-mobile) {
    padding: 1rem;
  }

  text-align: center;
  * {
    color: black;
  }

  .job-container {
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
    max-width: 500px;
    @media screen and (max-width: $breakpoint-mobile) {
      h1 {
        font-size: 1.6em;
      }
    }


  }
}

.stripes-container {
  background: $primary;
}
.stripes {
  padding: 1rem;
  background: repeating-linear-gradient(
    0deg,
    $primary,
    $primary 12px,
    rgba($white, 0.17) 12px,
    rgba($white, 0.17) 16px
  );

  background-repeat: repeat;
}

.reedu-desc {

}

.reedu-job-headline {
  padding-top: 1.6em;
}

.image-container {
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: space-around; /* Space out images evenly */
}

.image-container img {
  transition: transform 0.3s ease-in-out;
  width: 100%;

}

.image-container img:hover {
  transform: scale(1.1); /* Scale out the image on hover */
}

