<div class="site sb-white-text red-section">
  <div class="stripes-container">
    <div class="stripes" style="padding-left: 50px;padding-right: 50px ;">
    <div class="main-container">
        <div class="header-tile">
          <div class="header-images">
            <div class="img-div">
              <img   src="./../../../../assets/img/team/team_reedu.jpg" alt="">
            </div>
            <div class="img-div">
              <img   src="./../../../../assets/img/Jobs/2.png" alt="">
            </div>
          </div>
          <div class="header-benefits">
            <div class="header-info">
              <p style="font-size: 24px; letter-spacing:3px; font-weight: 700;">{{jobsHead[0]['mainTitle']}}</p>
              <h2 style="letter-spacing:2px">{{jobsHead[0]['subTitle']}}</h2>
              <p style="color: black;">{{jobsHead[0]['description']}}</p>
            </div>
            <div class="benefit-info">
              <p class="mb-1 black-color">{{"Wir bieten" | translate}}:</p>
              <ul>
                <li *ngFor="let job of jobsHead.slice(1)" style="display: flex; align-items: center;gap: 10px;">
                  <img style="width: 50px; height: 50px;" src="./../../../../assets/img/Jobs/{{ job.logUrl }}" alt="">
                  <p class="black-color">{{job.item}}</p>
                </li>
              </ul>
            </div>
          </div>

        </div>
    
      <div class="job-info">
        <h1 class="jobs-title mb-6 has-text-centered">
          {{"Stellenangebote" | translate}}
        </h1>
    
        <div>
          <div *ngFor="let job of jobs" class="job-item mb-4 columns is-mobile">
            <div class="column is-3 is-full-mobile job-img">
              <div class="image">
                <img src="./../../../../assets/img/Jobs/{{ job.imgname }}" alt="{{ job.imgname }}" />
              </div>
            </div>
    
            <div class="column is-9 is-full-mobile job-desc">
              <h1 *ngIf="job.title" class="job-title-bold">
                <a href="/job/{{ job.filename }}" class="job-title-link">{{ job.title }}</a>
              </h1>
              <p *ngIf="job.description" class="job-description">
                {{ job.description }}
              </p>
              <a href="/job/{{ job.filename }}">
                <button class="button is-primary re-button">
                  <span>{{ "MEHR_DAZU" | translate }}</span>
                  <img src="/assets/img/logos/logo_black.svg" alt="Logo">
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="jobs-footer">
        <h2 style="text-align: center; font-size: 2.5rem; font-weight: 900;"> {{"Ansprechpartner für weitere Fragen" | translate}}</h2>
        <div class="columns mt-4 is-mobile">
          <div class="column is-7 is-full-mobile">
            <img src="./../../../../assets/img/Jobs/4.jpeg" alt="">
          </div>
          <div class="column is-2 is-full-mobile image is-96x96">
            <img src="./../../../../assets/img/team/umut_new.jpg" alt="">
          </div>
          <div class="column is-3 is-full-mobile">
            <p>Umut Tas</p>
            <p>Geschäftsführer & Entwickler</p>
            <p><a style="text-decoration-line: underline;" href="">u.tas@reedu.de</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
