@import "./../../../../../styles/variables.scss";

.site {
  background: $red;
  min-height: 100vh;
  overflow-x: hidden;
}

.site-title-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .site-title {
    padding-top: 100px;
  }
}

.site-title {
  color: white;
}

 
.main-container{
  padding: 40px;
  background-color: $primary;
  margin-top: 100px;
} 
.black-color{
  color: black;
}

.rotate-img{
  margin-top: 10px;
  transform: rotate(5deg);
}
  
.mobile-only {
  display: none;
}
.display-change{
  display: block;
}


@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }
  .display-change{
    display: none;
  }
}

.benefit-info{
  padding: 30px 0;
  background-color: $primary;
}

.container.content {
  background-color: white;
  p {
    font-family: NunitoSans-Regular;
  }

  padding: 6rem;
  @media screen and (max-width: $breakpoint-mobile) {
    padding: 1rem;
  }

  text-align: center;
  * {
    color: black;
  }

  .job-container {
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
    max-width: 500px;
    @media screen and (max-width: $breakpoint-mobile) {
      h1 {
        font-size: 1.6em;
      }
    }
  }
}

.stripes-container {
  background: $primary;
}
.stripes {
  padding: 1rem;
  background: repeating-linear-gradient(
    0deg,
    $primary,
    $primary 12px,
    rgba($white, 0.17) 12px,
    rgba($white, 0.17) 16px
  );

  background-repeat: repeat;
}



.job-info{
  background-color: white;
  padding: 50px;
}
.jobs-title{
  color: $primary;
}
.job-desc{
  padding: 12px;
}
 .job-img{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; 
} 

.job-title-bold {
  color: black !important;
  font-weight: 900 !important;
  font-size: 2em; /* Adjust size as needed */
}

.job-title-link {
  color: black !important;
  font-weight: 900 !important;
  font-style: bold;
  font-size: 2rem;	 
}

.job-description {
  color: rgba(0, 0, 0, 0.687) !important;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1rem;
}

.jobs-footer{
  margin-top: 40px;
}

.header-tile{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 30px;
 
  
  .header-images{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-items: center;
    align-items: center;
    .img-div{
      width: 45%;
      
    }
    }
    
  
  .header-benefits{
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .header-tile {
    flex-direction: row;
    justify-content: space-between;
  }

  .header-images
  {
    width: 45%;
  }
  .header-benefits {
    width: 48%; /* Full width for mobile and tablet screens */
  }
}