<div class="site">
  <div class="container">
    <h1 class="title site-title">Wer wir sind</h1>
    <img class="floating-reedu-logo" src="assets/img/logos/logo_outline.svg" />
  </div>
  <div class="stripes-vertical">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-half" *ngFor="let member of team">
          <div class="card">
            <div class="card-content">
              <div class="container">
                <div class="columns is-multiline">
                  <div class="column is-one-third">
                    <img
                      *ngIf="member.photo"
                      class="profile-img"
                      src="{{ member.photo }}"
                      alt="image"
                    />
                  </div>
                  <div class="column">
                    <h1 class="title">{{ member.name }}</h1>
                    <h2 class="subtitle">{{ member.position }}</h2>
                    <h6 class="title is-6 orange">
                      {{ member.tags.join(", ") }}
                    </h6>
                    <h6 class="title is-6">{{ member.email }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <re-contact-card></re-contact-card>
</div>
