@import "../../../../../styles/variables.scss";

.site {
  background: $red;

  overflow-x: hidden;
  padding: 0.4em;
}

.floating-reedu-logo {
  width: 300px;
  height: 300px;
  position: absolute;
  right: -150px;
  top: 170px;

  @media screen and (max-width: $breakpoint-mobile) {
    top: 100px;
  }
}

.site-title {

  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
  @media screen and (max-width: $breakpoint-mobile) {
    padding-bottom: 140px;
  }
}

.stripes-vertical {
  background: repeating-linear-gradient(
    90deg,
    #fff0,
    #fff0 10px,
    rgba(255, 255, 255, 0.3) 10px,
    rgba(255, 255, 255, 0.3) 15px
  );

  > .container {
    transform: translateY(-6rem);
  }
}

.profile-img {
  max-height: 230px;
  width: auto;
}

.orange {
  color: $red;
}

.card {
  height: 100%;
}