@import "../../../../../styles/variables.scss";

.site {
  background: $red;
  min-height: 100vh;
}

.floating-reedu-logo {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 170px;
  right: -150px;
}

.site-title {
  padding-top: 12rem;
  padding-bottom: 12rem;
  font-size: 4rem;
  color: white;
}

.stripes-vertical {
  background: repeating-linear-gradient(
    90deg,
    #fff0,
    #fff0 10px,
    rgba(255, 255, 255, 0.3) 10px,
    rgba(255, 255, 255, 0.3) 15px
  );

  > .container {
    transform: translateY(-6rem);
  }
}

.profile-img {
  max-height: 230px;
  width: auto;
}

.orange {
  color: $red;
}
