<div class="tab-wrapper">
  <div
    class="tab-switcher is-flex is-flex-wrap-wrap is-justify-content-space-between"
  >
    <h3
      *ngFor="let tab of tabs; let i = index"
      [class.active]="tab == activeTab"
      [class.underscore-dark]="tab.underscoreStyle == 'dark'"
      [class.underscore-red]="tab.underscoreStyle == 'red'"
      (click)="changeTab(i)"
    >
      {{ tab.title }}
    </h3>
  </div>
  <div class="tab-content">
    <div class="card">
      <div class="card-content">
        <div class="card-tab-switcher">
          <img
            class="right"
            (click)="nextTab()"
            src="assets/img/logos/logo_outline_red.svg"
          />
          <img
            class="left"
            (click)="previousTab()"
            src="assets/img/logos/logo_outline_red.svg"
          />
        </div>
        <div class="columns">
          <div class="column is-two-thirds">
            <h2 *ngIf="activeTab.title2">
              <span>{{ activeTab.title }}: </span>{{ activeTab.title2 }}
            </h2>
            <h2 *ngIf="!activeTab.title2">{{ activeTab.title }}</h2>
            <p>{{ activeTab.description }}</p>
            <a [href]="activeTab.link">
              <button class="re-button">
                <span>{{ activeTab.linkText }}</span>
                <img src="/assets/img/logos/logo_black.svg" />
              </button>
            </a>
          </div>
          <div class="column is-full">
            <img class="is-tab-image" [src]="activeTab.image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
