@import "./../../../styles/variables.scss";

.tab-wrapper {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.tab-switcher {
  max-width: 50%;
  @media screen and (max-width: $breakpoint-desktop) {
    max-width: 75%;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    max-width: 100%;
  }

  > h3 {
    display: inline-block;
    border-bottom: 5px solid white;
    cursor: pointer;
    margin: 1rem;

    &.underscore-red {
      &.active {
        border-bottom: 5px solid $red;
      }

      &:hover {
        border-bottom: 5px solid $red;
      }
    }

    &.underscore-dark {
      &.active {
        border-bottom: 5px solid $black;
      }

      &:hover {
        border-bottom: 5px solid $black;
      }
    }
  }
}

.tab-content {
  margin-top: 4rem;

  .card {
    max-width: 75%;
    @media screen and (max-width: $breakpoint-mobile) {
      max-width: 100%;
    }
    overflow: visible;

    .card-content {
      @media screen and (min-width: $breakpoint-mobile) {
        padding-left: 4rem;
        padding-bottom: 4rem;
      }
    }

    h2,
    p {
      color: $red;
      margin-bottom: 2rem;

      span {
        color: $black;
      }
    }

    img.is-tab-image {
      border: 5px solid white;
      max-height: 400px;
    }
  }
}

.card-tab-switcher {
  $control-height: 4rem;

  width: 100%;
  height: $control-height;

  > img {
    float: right;
    width: $control-height;

    &:hover {
      cursor: pointer;
    }
  }

  .left {
    transform: rotate(180deg);
  }
}
