@import "../../../styles/variables.scss";

.navbar {
  background: transparent;
  transition: background 0.3s linear;
  &.scrolled {
    background: $black;
  }

  .navbar-burger {
    color: $white;
    margin-left: unset;
  }

  .re-mobile-menu {
    @media screen and (max-width: 1023px){
      display: flex;
    }
    display: none;
    height: 52px;
    justify-content: space-between;
    position: relative;

    .re-navbar-close {
      height: 100%;
      display: flex;
      align-items: center;
      width: 52px;
      justify-content: center;
      
    }
    .navbar-reedu-logo {
      height: 100%;
      width: 40px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      img {
        height: 100%;
      }
    }
  }

  .re-mobile-navitem-only {
    display: none;
    text-transform: unset;
  }
  @media screen and (max-width: 1023px){
    background: $black;

    .re-mobile-navitem-only {
      display: block;
    }
    .re-navbar-item {
      display: flex;
      align-items: center;
      &:hover, &:focus, &:focus-within {
        background: $black;
      }
      
    }
    .re-lang-select {
      display: none;
    }
    .navbar-item {
      &:hover {
        background: $black;
      }
      &.active {
        &::after {
          display: none;
        }
      }
      &:focus, &:hover {
        background-color: $black;
      }     
      .navbar-link {
        &:focus, &:hover {
          background-color: $black;
        }
      }
    }
    .navbar-menu {
      background: $primary;
      color: white;
    }

    .navbar-dropdown {
      background: $primary;
    }

    .navbar-start, .navbar-end {
      max-width: 100%;
      text-align: center;
      .navbar-item {
        &.has-dropdown {

          .navbar-link {
            padding-right: 0.5rem;

            &::after {
              display: none;
            }
          }
          
        }
      }
    }

    .navbar-reedu {
      display: none;
    }
  }
}
.navbar-link::after {
  border-color: #ffffff;
  margin-top: -0.75rem;
}
.navbar-dropdown {
  background-color: rgba($black, 1);
  backdrop-filter: blur(1rem);
  border-radius: none;
  border-top: none;

  .navbar-item {
    text-transform: none;
  }

  > .navbar-item:hover {
    color: #eeeeee !important;
  }
}
.navbar-item,
.navbar-link {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;

  &:hover {
    color: #eeeeee;
  }

  &:focus {
    color: $white;
  }

  &.active {
    &::after {
      content: " ";
      position: absolute;
      left: 0.5em;
      bottom: 0.5em;
      width: calc(100% - 1em);
      border-bottom: 3px solid white;
    }
  }
}

.lang-select {
  padding: 0em 0.6em 0em .4em;
  white-space: nowrap;
  position: relative;
  font-family: BrixSlab-Regular;
  
  &.active {
    font-family: BrixSlab-Bold;
    &:before {
      content: url("/assets/img/logos/logo_white.svg");
      position: absolute;
      left: -6px;
      top: 2px;
      width: 15px;
      height: 15px;
    }
  }
}

.navbar-start, .navbar-end {
  justify-content: space-evenly;
  // margin-right: auto;
  flex-grow: 1;
  max-width: 40%;
}

.navbar-reedu {

  position: absolute;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);

  &.scrolled {
    width: 50px;
    .navbar-reedu-item {
      display: none;
    }
    .navbar-reedu-item-small {
      display: block;
    }
  }
  .navbar-reedu-item {
    height: 150px;
  }
  .navbar-reedu-item-small {
    display: none;
  }
  img {
    max-height: 100%;
  }
}



//OVERWRITES OF BULMA

.navbar-dropdown a.navbar-item:focus {
  color: white;
}

.navbar-burger span {
  height: 2px;
}

.navbar-item.has-dropdown .navbar-link {
  @media screen and (max-width: 1023px){
    display: none;
  }
}