<nav
  class="navbar is-transparent is-fixed-top"
  [class.scrolled]="scroll != 0"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-start">
    <a class="navbar-item">
      <a
        class="lang-select"
        [class.active]="currentLang === 'de'"
        (click)="selectLang('de')"
        >DE</a
      >
      /
      <a
        [class.active]="currentLang === 'en'"
        class="lang-select"
        (click)="selectLang('en')"
        >EN</a
      >
    </a>
    <a
      [routerLink]="['angebote']"
      routerLinkActive="active"
      class="navbar-item"
    >
      {{ "ANGEBOTE" | translate }}
    </a>
    <a
      [routerLink]="['portfolio']"
      routerLinkActive="active"
      class="navbar-item"
    >
      Portfolio
    </a>
  </div>
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['']">
      <img src="assets/img/logos/logo_white.svg" width="112" height="28" />
      re:edu<br />
      reengineering education
    </a>
  </div>
  <div class="navbar-end">
    <a class="navbar-item"> FORSCHUNG </a>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link"> ABOUT US </a>
      <div class="navbar-dropdown">
        <a
          [routerLink]="['philosophie']"
          routerLinkActive="active"
          class="navbar-item"
        >
          PHILOSOPHY
        </a>
        <a class="navbar-item"> AUSZEICHNUNGEN </a>
        <a class="navbar-item"> TEAM </a>
      </div>
    </div>
    <a class="navbar-item">
      <ion-icon name="logo-linkedin" size="large"></ion-icon>
    </a>
    <a class="navbar-item">
      <ion-icon name="logo-facebook" size="large"></ion-icon>
    </a>
  </div>

  <!-- <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
  
        <a class="navbar-item">
          Documentation
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div> -->
</nav>
