@import "./../../../../styles/variables.scss";

.site {
  background: $red;
  min-height: 100vh;
  overflow-x: hidden;
}

.site-title {
  color: white;
}

.floating-reedu-logo {
  @media screen and (max-width: 770px) {
    display: none;
  }
  position: absolute;
  max-width: 35rem;
  transform: rotate(90deg);
  bottom: -12rem;
  right: -20rem;
}


.stripes-container {
  background: $black;
}
.stripes {
  padding: 1rem;
  background: repeating-linear-gradient(
    0deg,
    $black,
    $black 12px,
    rgba($white,0.07) 12px,
    rgba($white,0.07) 16px
  );

  background-repeat: repeat;
}
