@import "../../../styles/variables.scss";

.background-container {
  &.background {
    background: #eb5c3727
      repeating-linear-gradient(
        -40deg,
        #eb5c3727,
        #eb5c3727 10px,
        #eb5c376e 0,
        #eb5c376e 12px
      );
  }
}
.contact-card-container {
  font-family: BrixSlab-Bold;
  padding-top: 5rem;

  .contact-title {
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex: 1;
    min-width: 300px;
  }

  img {
    max-width: 12rem;
  }

  .icon-text {
    display: flex;
    align-items: center;

    > span {
      width: 16px;
    }

    > .title {
      &.sb-red-text {
        color: $primary;
      }
      margin-left: 1rem;
    }

    + h6 {
      margin-left: 2rem;
      color: $black;

      > a {
        color: $black;
        font-size: 1rem;
        font-family: BrixSlab-Regular;
      }
    }
  }
}
