@import "../../../styles/variables.scss";

.background-container {
  &.background {
    background: #EB5C3727 repeating-linear-gradient(-40deg, #EB5C3727, #EB5C3727 10px, #eb5c376e 0, #eb5c376e 12px);
  }
}
.contact-card-container {
  padding-top: 5rem;

  .contact-title {
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 4rem;
    flex: 1;
    min-width: 300px;
  }

  .icon-text {
    display: flex;
    align-items: center;

    > span {
      width: 16px;
    }

    > .title {
      &.sb-red-text {
        color: $primary;
      }
      margin-left: 1rem;
    }

    + h6 {
      margin-left: 2rem;
    }
  }
}
